{% extends "__layouts/General.twig" %}

{% block content %}

    <h1>Merhaba Dünya!</h1>
    <p>Ben Twig ile çalışıyorum.</p>
    <ul>
        <li><b>First Name:</b> {{ firstname }}</li>
        <li><b>Last Name:</b> {{ lastname }}</li>
    </ul>

{% endblock %}